.header{
  position: relative;
  height: 40px;
  width:100%;
  background: white;
}

.image{
  position: absolute;
  left: 0;
  background-image: url("../../../public/SpyTouch.bmp");
  width:120px;
  height:40px;
}

.logout{
  position: absolute;
  right:0;
  height:40px;
  font-size: 20px;
}
